body {
    background-color: #f4f6fa;
}

.main-title {
    font-size: 36px;
    font-weight: bold;
    color: #6a0dad;
}

.section-title {
    font-size: 22px;
    font-weight: bold;
    color: #4b0082;
    margin-top: 20px;
}

.insight-box {
    padding: 15px;
    background-color: #eee6ff;
    border-radius: 10px;
    border-left: 5px solid #6a0dad;
}
